* {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid red;
  font-family: 'roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header > p, header > a {
  color: #fff;
}

#main-content {
  display: flex;
  max-width: 800px;
  margin: 60px auto 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content {
  flex: 1;
  padding: 20px;
}

#all-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#title {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: #fff;
}

h1 {
  color: #1f2937;
}

p {
  color: #1f2937;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  }

footer > p, footer > a {
  color: #fff;
}
/* Path: index.html */